<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Excel Scrape">
    <meta name="author" content="Jason Edelson">
    <title>Excel Scrape</title>
    {%load staticfiles%}
    <link rel="shortcut icon" href="{%static 'img/favicon.jpg'%}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{#    <link rel="stylesheet" href="../static/css/style.css">#}
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}"/>
  </head>
  <body>
    <div id="content">
      <!-- Start Header -->
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <a class="navbar-brand" href="{% url 'index' %} ">Excel Scrape</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item  mr-4 active">
                <a class="nav-link" href="#homenav">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Site
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'index' %}">Twitter</a>
                  <a class="dropdown-item" href="{% url 'yt' %}">Youtube</a>
                </div>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item mr-4"><a class="nav-link" href="{% url 'index' %}"> {{ user.get_username }} </a> </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}"> Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
{#              <li class="nav-item mr-4"><a class="nav-link" href="#productnav" title="Products">Products</a></li>#}
{#              <li class="nav-item mr-4"><a class="nav-link" href="#photonav" title="Photos">Photos</a></li>#}
{#              <li class="nav-item"><a class="nav-link" href="#contactnav" title="Contact">Contact</a></li>#}
            </ul>
          </div>
        </nav>
      </header>
      <!-- End Header -->
        {%block body%}
        {%endblock%}
      <!-- Start Footer -->
      <footer>
  			<div class="container-fluid">
  				<div class="row">
  					<div class="col-12 pl-3 d-none d-sm-block">
  						<p>Copyright ©2018 Jason Edelson</p>
  					</div>
            <div class="col-12 d-block d-sm-none" style="text-align:center;">
  						<p>Copyright ©2018 Jason Edelson</p>
  					</div>
  				</div>
  			</div>
  		</footer>
      <!-- End Footer -->
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <script src="{%static 'js/main.js'%}"></script>

  </body>
</html>
